In [1]:
import numpy as np
import seaborn as sns 
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv("C:/Users/hp/Downloads/cyberbullying_tweets.csv/cyberbullying_tweets.csv")
df.head()

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [3]:
df.sample(10)

                                              tweet_text   cyberbullying_type
1196   @BrownBagPantry I get where you are coming fro...    not_cyberbullying
2807                       @a_mezzosangue lol , right (:    not_cyberbullying
35739  Broooo I swear if anyone bullies my daughter a...                  age
21154  Ironically, those fighting for gun reform also...             religion
16262  Killing innocent people is not what our army &...             religion
10644  Watched a some of those FIFA pack opening vide...               gender
29917  And before you protest that you're *not* mad, ...  other_cyberbullying
28517                    @DanzierLea that is awesome! :D  other_cyberbullying
2001   RT @Newsarama: MARK HAMILL Becomes HAN SOLO Fo...    not_cyberbullying
21086  I don't know the politics of my date on Saturd...             religion

In [4]:
import string

In [5]:
#This consists of the symbols which we wish to remove from the comments

In [6]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
sym = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
def clean(cell):
    for i in sym:
        cell = cell.replace(i," ") 
    cell = cell.replace("  "," ")   #double space replaced with single quotations
    cell = cell.replace("   "," ")  #triple space replaced with single quotation
    cell = cell.replace("    "," ") #quadraple space replaced with space quotation
    return cell

In [9]:
print(df.columns)

Index(['tweet_text', 'cyberbullying_type'], dtype='object')

In [10]:
print(clean)

<function clean at 0x00000261BCF29940>

In [11]:
print(df.columns.tolist())

['tweet_text', 'cyberbullying_type']

In [12]:
print(df['tweet_text'].head())

0    In other words #katandandre, your food was cra...
1    Why is #aussietv so white? #MKR #theblock #ImA...
2    @XochitlSuckkks a classy whore? Or more red ve...
3    @Jason_Gio meh. :P  thanks for the heads up, b...
4    @RudhoeEnglish This is an ISIS account pretend...
Name: tweet_text, dtype: object

In [13]:
df['tweet_text'] = df['tweet_text'].apply(clean)

In [14]:
df.head()

                                          tweet_text cyberbullying_type
0  In other words katandandre your food was crapi...  not_cyberbullying
1  Why is aussietv so white  MKR theblock ImACele...  not_cyberbullying
2   XochitlSuckkks a classy whore Or more red vel...  not_cyberbullying
3   Jason Gio meh  P thanks for the heads up but ...  not_cyberbullying
4   RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [15]:
df['cyberbullying_type'].unique()

array(['not_cyberbullying', 'gender', 'religion', 'other_cyberbullying',
       'age', 'ethnicity'], dtype=object)

In [16]:
df.shape

(47692, 2)

In [17]:
#Handling null values

In [18]:
df.isna().any()

tweet_text            False
cyberbullying_type    False
dtype: bool

In [19]:
df.isna().sum()

tweet_text            0
cyberbullying_type    0
dtype: int64

In [20]:
df.sample(10)

                                              tweet_text   cyberbullying_type
16174  All I want is a decent Christian woman to rais...             religion
23883  Even if Aya was a non Muslim I would still don...             religion
44788  was listening to guys discuss racial issues bu...            ethnicity
31207  It s difficult deciding to call out something ...  other_cyberbullying
7636    iAmKaylaM lmao I just paid it in class after ...    not_cyberbullying
29147  Waiting for BART so I can go home and curl up ...  other_cyberbullying
19950  And thanks to a few idiots like you with names...             religion
17980   editorarmourae sunnysingh nw3 PanIslamism ins...             religion
43818  http  via me 6pvezng RT cleon255 “ tayyoung  F...            ethnicity
31901  acting mature at 13 years old in high school d...                  age

In [21]:
string = " "
string = string.lower()

In [22]:
tv = TfidfVectorizer(max_features=3000)
x2 = tv.fit_transform(df['tweet_text']).toarray()

In [23]:
cv = CountVectorizer(max_features=3000)
x1 = cv.fit_transform(df['tweet_text']).toarray()

In [24]:
y = df['cyberbullying_type']

In [25]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y,train_size=0.80,random_state=42)
x2_train,x2_test,y2_train,y2_test=train_test_split(x2,y,train_size=0.80,random_state=42)

In [26]:
rf = RandomForestClassifier()
model1 = rf.fit(x2_train,y2_train)
model1.score(x2_test,y2_test)

0.8124541356536324

In [27]:
df['cyberbullying_type'].value_counts()

cyberbullying_type
religion               7998
age                    7992
gender                 7973
ethnicity              7961
not_cyberbullying      7945
other_cyberbullying    7823
Name: count, dtype: int64

In [33]:
df.sample(5)

                                              tweet_text   cyberbullying_type
22961   Vandaliser sajid fairooz IsraeliRegime Withou...             religion
3592    LifeInKhilafah They need to try to reconnect ...    not_cyberbullying
9418   Silly What if the joke was about dnc socialist...               gender
27265   Trigger Check yup although i haven t really b...  other_cyberbullying
38943  These protesters are the result of 30 years of...                  age

In [29]:
a1 = ""
a1 = a1.lower()
a1arr = tv.transform([a1]).toarray()
model1.predict(a1arr)

array(['other_cyberbullying'], dtype=object)

In [30]:
a1 = ""
a1 = a1.lower()
a1arr = cv.transform([a1]).toarray()
model1.predict(a1arr)

array(['other_cyberbullying'], dtype=object)